
<!--<div *ngIf="selectedHero">-->
  <!--<div>-->
    <!--{{selectedHero.name}}&#45;&#45;details-->
  <!--</div>-->
  <!--<div>-->
    <!--<label for="">-->
      <!--id:-->
    <!--</label>-->
    <!--{{selectedHero.id}}-->
  <!--</div>-->
  <!--<div>-->
    <!--<label for="">name:</label>-->
    <!--<input type="text" [(ngModel)] = "selectedHero.name" placeholder = "name">-->
  <!--</div>-->

<!--</div>-->

<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div><label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </div>
</div>
